body{
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
}
:root{
    --p-col:rgb(251, 224, 71);
    --s-col:rgb(29, 29, 29);
    --t-col:white;
}
nav{
    background-color: var(--s-col);
    display: flex;
}
.logo img{
    width: 20%;
    border-radius: 30%;
}
.menu{
    margin-left: 5%;
}
.menu ul li{
list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    color: var(--p-col);
    font-family: system-ui;
    font-size: 1.3em;
    padding-left: 20px;
    line-height: 30px;
}
.menu ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: 300ms;
}
.menu ul{
    display: flex;
}
.banner{
    background-color: var(--s-col);
    padding-top: 80px;
    padding-bottom: 50px;
}
.banner h1{
    text-align: center;
    color: var(--t-col);
    font-size: 2.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.banner span{
    color: var(--p-col);
}
.banner p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: var(--t-col);
    font-size: 1em;
}
.bannersection{
    display: flex;
    width: 90%;
    margin-left: 5%;
    align-items: end;
    justify-content: space-around;
    margin-top: 30px;
}
.bannersection figure{
    border: solid white 2px;
}
.bannersection img{
    width: 100%;
}
.bannerpara{
    padding: 10px;
    text-align: justify;
}
.bannersection>div{
    width: 30%;
    border: solid var(--p-col) 1px;
}
.btn{
     margin-left: 28%;
}
.btn button{
    padding:20px;
    background: linear-gradient(120deg,var(--p-col),var(--s-col),var(--s-col));
    color: var(--t-col);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    border: solid 1px var(--p-col);
    border-radius: 10px;
    margin-left: 10px;

}
.btn button:hover{
    padding:21px;
    background: linear-gradient(120deg,var(--s-col),var(--s-col),var(--p-col));
    color: var(--t-col);
    cursor: pointer;
    transition: 500ms;

}
.section .icon{
    margin-left: 45%;
    margin-top: 50px;
}
.learn{
    display: flex;
    width: 90%;
    margin-top: 50px;
    margin-left: 5%;
}
.figure img{
    width: 100%;
}
.learn .figure{
    
    order: 2;
}
.learn .article{
    order: 1;
}